<?xml version="1.0" encoding="utf-8"?>
<WPluginsSettings>
  <ObjImport>
    <UseMetricUnits>true</UseMetricUnits>
    <FlipFaces>false</FlipFaces>
    <SwapYZ>false</SwapYZ>
    <TurnQuads>false</TurnQuads>
    <UniformScale>true</UniformScale>
    <UniformUVScale>true</UniformUVScale>
    <ScaleX>1</ScaleX>
    <ScaleY>1</ScaleY>
    <ScaleZ>1</ScaleZ>
    <ScaleU>1</ScaleU>
    <ScaleV>1</ScaleV>
    <CreateBone>0</CreateBone>
    <MaterialNaming>1</MaterialNaming>
  </ObjImport>
</WPluginsSettings>