<?xml version="1.0" encoding="utf-8"?>
<WPluginsSettings>
  <ObjImport>
    <MetricUnits>true</MetricUnits>
    <FlipFaces>false</FlipFaces>
    <SwapYZ>false</SwapYZ>
    <UniformScale>true</UniformScale>
    <XScale mirror="false">1</XScale>
    <YScale mirror="false">1</YScale>
    <ZScale mirror="false">1</ZScale>
    <UScale mirror="false">1</UScale>
    <VScale mirror="false">1</VScale>
    <BoneMode>0</BoneMode>
    <MaterialNaming>1</MaterialNaming>
    <BitmapAction>1</BitmapAction>
  </ObjImport>
</WPluginsSettings>